ul {
  list-style-type: none;
  padding: 0em 1em 1em 1em;
  margin-bottom: 0.3em;
}

ul li {
  background: #e8e8e8;
  border-radius: 0.3em;
  margin-bottom: 1em;
  padding-left: 2em;
  padding-top: 0.2em;
  padding-bottom: 1.5em;
}

ul li:hover {
  transform: scale(1.01);
  background: gainsboro;
}

a {
  font-size: 1.2em;
}

a:hover {
  cursor: pointer;
}

p {
  margin-bottom: 0.5em;
  padding-bottom: 0.1em;
}

.bash {
  font-size: 1.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 2em;
  font-family: courier;
  background: black;
  color: white;
  height: 7.6em;
}

div {
  margin-bottom: 1.8em;
}
